body{
    background-color: #06111b;
}
.game-container{
    text-align: center;
    background-color: #13293D;
    color: #fff;
    margin: 2em auto;    
    border: 5px solid #fff;
    border-radius: 20px;
    max-width: 50em;
}
ul{
    list-style: none;
    font-size: 20px;
    padding: 0;
}
p{
    font-size: 20px;;
}
button{
    background-color: #3E92CC;
    padding: 20px 40px;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

#game button{
    background-color: #3E92CC;
    padding: 34px 20px;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 6em;
    font-weight: 700;
    min-width: 200px;
}
#game button:hover{
    background-color: #414243;
}
.card-header {
    font-size: 40px;
    background-color: #0f141a;
    margin: 0px;
    padding: 1em 1em;
    border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 1em;
    border-bottom: 1px solid;
}
#startGame{
    padding: 3em 2em;
}

.show{
    display: block;
}
.hide{
    display: none;
}

.disable{
    pointer-events: none;
}

